<section class="about margin-top-high container" id="about">
    <span class="subheading">Who are we</span>
    <h2 class="about--heading heading">BCSSL is a <span class="highlight">Non-profit</span> Organization</h2>
    <div class="about--contents">
        <div class="about--description ">
            <p class="about--description-text">
                BCSSL is a non-profit organization that runs totally in support of its members, volunteers, and
                donors.
                We appreciate any help to continue doing what we do.
            </p>
            <a href="/about" class="about--btn btn btn--primary">Learn More</a>
        </div>
    </div>
</section>
