<section class="hero">
    <div class="hero--content container">
        <span class="subheading">BCSSL</span>
        <h1 class="hero--heading heading">First-ever environmental organization in Sri Lanka for <span
                class="highlight">conserving</span> insects</h1>
        <div class="hero--description grid grid--col-2">
            <p class="hero--description-text">
                BCSSL is a non-profit organization established in 2013 to promote the conservation of butterflies and
                moths in Sri Lanka. We believe that improving public awareness plays a key role in the conservation.
            </p>
        </div>
        <div class="hero--img">
            <img src="/assets/images/hero-mobile.webp" alt="Image of two Butterflies mating">
        </div>
        <div class="hero--buttons">
            <a href="#join" class="btn btn--primary">Join BCSSL</a>
            <a href="#contact" class="btn btn--secondary">Contact Us</a>
        </div>
</section>
