<section class="committee container">
    <h1 class="committee--title">Meet the Team</h1>
    <div class="committee--container grid grid--col-3">
        {% for member in site.data.committee %}
        <div class="committee-member">
            <div class="card">
                <div class="committee-member--img-section">
                    <img class="committee-member--img" src="{{ member.image }}"
                        alt="BCSSL {{member.title}} {{ member.name }}">
                </div>
                <div class="committee-member--title">
                    <h4 class="committee-member--title">{{ member.title }}</h4>
                </div>
                <div class="committee-member--description">
                    <h3 class="committee-member--name">{{ member.name }}</h3>
                    <!-- <p class="committee-member--description-text">{{ member.description }}</p> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
