<section class="committee container grid grid--col-3">
    

    {% for member in site.data.committee %}
    <section class="committee-member">
        <div class="committee-member--content">
            <div class="committee-member--img-section">
                <img class="committee-member--img" src="{{ member.image }}" alt="{{ member.name }}">
            </div>
            <div class="committee-member--description">
                <h3 class="committee-member--name heading">{{ member.name }}</h3>
                <p class="committee-member--title">{{ member.title }}</p>
                <p class="committee-member--description-text">{{ member.description }}</p>
            </div>
        </div>
    </section>
    {% endfor %}
</section>
