.committee {
    gap: 1.8rem;
}

.committee-member {
    margin: 1.8rem 1.8rem;
}

.committee-member--img {
    width: 24.8rem;
    border-radius: 50%;
}

.committee-member--description-text {
    display: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
}
