@media (max-width: 82em) {
    html {
        font-size: 50%;
    }

    .header {
        padding: 1.8rem 0;
    }
}

@media (max-width: 65em) {
    html {
        font-size: 37.5%;
    }
}

@media (max-width: 48em) {

}
