.about--contents {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-items: center;
    align-items: center;
}

.about--heading {
    color: var(--color-white);
}

.about-images {
    border: 0.6rem solid var(--color-light);
    border-radius: 1.4rem;
}

.about--image-img {
    border-radius: 1.4rem 0 0 1.4rem;
    object-fit: cover;
    width: 100%;
}

.about--volunteers {
    display: flex;
}

.about--volunteer-img {
    width: 4.8rem;
    height: 4.8rem;

    border-radius: 50%;
    border: 0.2rem solid var(--color-light);

    margin-right: -1.6rem;
}

.about--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: -1;
    justify-content: end;
}

.about--description-text {
    font-weight: 500;
    color: var(--color-darkest);
    padding-bottom: 3.6rem;
    line-height: 1.7;
    letter-spacing: 0.2rem;
}

.about--btn {
    margin-top: 2.4rem;
    color: var(--color-dark-yellow);

    font-weight: 700;
    letter-spacing: 0.3rem;
}

.about--btn:link,
.about--btn:visited {
    color: var(--color-dark-yellow);
}

.about--btn:hover,
.about--btn:active {
    color: var(--color-yellow);
}
