.events {
    background-color: var(--color-light);
    padding: 4.8rem 0;
}

.events--options {
    column-gap: 3.2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.6rem;
}

.events--title {
    padding-bottom: 4.8rem;
}
