.join--subheading {
    color: var(--color-dark-yellow);
}

.join--form {
    gap: 2rem;
    padding: 3.2rem;

    background-color: var(--color-light);
    border-radius: 1.5rem;

    align-items: end;
}

.join--form-group {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1.2rem;
}

.join--form-input {
    font-size: 1.8rem;
    color: var(--color-darkest);
    background-color: var(--color-white);

    padding: 1.2rem;
    border: none;
    border-radius: 8px;
}

.join--form-radio-btn-group {
    display: flex;
    gap: 6.4rem;
}

.btn--form {
    padding: 0.2rem !important;
}
